<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .menu {
            list-style: none;
            float: right;
        }

            .menu li {
                float: left;
            }

                .menu li a {
                    padding: 5px;
                    margin-right: 10px;
                    background-color: #f3f3f3;
                }
    </style>
</head>
<body>
    <ul class="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("My Profile", "MyProfile", "Home")</li>
        <li>
            @{
                if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOut", "MyAccount", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <a href="javascript:document.getElementById('logoutForm').submit()">LogOut</a>
                    }
                }
                else
                {
                    @Html.ActionLink("Login", "Login", "MyAccount")
                }
            }
        </li>
    </ul>
    <div style="height:1px; clear:both;"
         @RenderBody()
         @Scripts.Render("~/bundles/jquery")
         @Scripts.Render("~/bundles/bootstrap")
         @RenderSection("scripts", required: false)
</body>
</html>
